.accordion-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 2%;
    margin: 0 auto;
}

.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* animate carousel */
.accordion-content {
    max-height: 0;   /* Start collapsed */
    overflow: hidden; /* Hide content */
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
}

.accordion-content.open {
    max-height: 200px;/* Big enough to fit content */
    opacity: 1;
}
