.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.card {
    background: whitesmoke;
    border-radius: 3px;
    width: 200px;
    height: 60px;
    padding: 20px;
    text-align: start;
    position: absolute;
    top: 50px;
}
.card p {
    font-size: 12px;
    line-height: 8px;
}